<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    .navbar {
        background-color: #d9edf7;
    }

</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h2>Home</h2>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>

<div class="container">
    <h1>Login with Magic link</h1>

    <p>Please check your email inbox.</p>
    <p th:if="${email != null}">
        Email: <strong th:text="${email}"></strong>
    </p>
</div>
</body>
</html>